.maman{
    background-color: #19191B;
}
.r{
    width: 30px;
    height: 30px;
}
body{
    margin: 0;
    padding: 0;
}
.navbardroite h1{
    color: #FFFFFF;
}
.navbardroite{
    display: flex;
    align-items: center;
    gap: 5px;
}
.navbarcentre{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.navbarcentre h1{
    color: #5454D4;
    font-size: 15px;
}
.navbarcentre p{
    color: #FFFFFFB2;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contact-button {
    background-color: #333; 
    color: white;           
    border: 2px solid #fff; 
    border-radius: 5px;     
    padding: 10px 20px;    
    font-size: 16px;       
    cursor: pointer;       
    transition: all 0.3s ease;
}

.contact-button:hover {
    background-color: #555; 
    border-color: #bbb;     
}